<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- title %></title>
    <link rel="stylesheet" href="../../lib/css/semantic.min.css"></head>
    <link rel="stylesheet" href="../../stylesheets/common/common.css">
    <link rel="stylesheet" href="../../stylesheets/common/paganation.css">
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/semantic.min.js"></script>
    <script src="../../lib/vue.js"></script>
    <script src="../../lib/vue-resource.js"></script>
    <script src="../../javascripts/host.js"></script>    
</head>
<body>
    <div class="pagewrap">
    <!-- 侧边栏 -->
        <div class="aside" id="sidebar">
            <div class="menu">
                <h2><span>直播管理系统后台</span></h2>
                <hr class="line-mod">
                <dl class="menu-list def-scroll keyboard-focus-obj" id="menu">
                </dl>
            </div>
            <!-- 收起按钮 -->
            <a class="btn-fold-menu" href="javascript:void(0);" title="收起" data-event="toggle_sidebar">收起</a>
        </div>
        <!-- 主页面区域 -->
        <div class="page main" id="page">
            <%-body -%>
        </div>
    </div>

</body>
</html>