<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>登录</title>
        <link rel="stylesheet" type="text/css" href="../../stylesheets/common/common.css">
        <link rel="stylesheet" type="text/css" href="../../stylesheets/login/login.css">
    </head>
    <body>
    <!-- 把login拆成了login和index2个页面，暂时复用login的脚本和HTML ，2个页面本来功能写在了一起，拆开有部分差异-->
        <div class="bodybox">
            <div class="loginbody" id="loginbody" style="display:none !important;">
                <input placeholder="请输入用户名" class="ipt" id="username-ipt"></input>
                <input placeholder="请输入密码" type="password" class="ipt" id="userpwd-ipt"></input>
                <a href="#" id="login2reg-a">注册</a>
                <button class="normal-btn" id="login-btn">登录</button>
            </div>
            <div class="registerbody no-show" id="registerbody" style="display:none !important;">
                <input placeholder="请输入用户名" class="ipt" id="reg-name"></input>
                <input placeholder="请输入密码" type="password" class="ipt" id="reg-pwd"></input>
                <input placeholder="请再次输入密码" type="password" class="ipt" id="reg-pwd2"></input>
                <a href="#" id="reg2login-a">返回登录</a>
                <button class="normal-btn" id="register-btn">注册</button>
                <p>点击「注册」按钮，即代表你同意
                    <a href="#">《蜗牛协议》</a>
                </p>
            </div>

            <div class="logoutbody" id="logoutbody">
                 <h2 style="text-align: center;">你好,<%- user %></h2>
                <%- message %>
                <a href="/cms/admin/programlist" target="_self" id="program-list">节目列表</a>
                <a href="/cms/admin/channellist" target="_self" id="channel-list">频道列表</a>
                <a href="/cms/admin/prochecklist" target="_self" id="procheck-list">未审核节目列表</a>
                <a href="/cms/admin/uncheckchannellist" target="_self" id="uncheckchannel-list">未审核频道列表</a>
                <button class="normal-btn" id="logout-btn">登出</button>
                <button class="normal-btn" id="changepwd-btn">修改密码</button>
            </div>
            <div class="changepwdbody no-show" id="changepwdbody">
                <input placeholder="请输入原密码" type="password" class="ipt" id="oldpwd-ipt"></input>
                <input placeholder="请输入新密码" type="password" class="ipt" id="newpwd-ipt"></input>
                <input placeholder="请再次输入新密码" type="password" class="ipt" id="newpwd2-ipt"></input>
                <button class="normal-btn" id="cancel-btn">取消</button>
                <button class="normal-btn" id="pwd-btn">确定</button>
            </div>
        </div>
    </body>
        <script src="../../lib/jquery.min.js"></script>
        <script src="../../lib/cookie.min.js"></script>
        <script src="../../javascripts/login/index.js"></script>
</html>
