 <link rel="stylesheet" href="../../login/index.css"> 
    <div class="ui middle aligned center aligned grid login-wrap">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Ready VR 直播管理系统 - 邮箱注册
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="name" placeholder="邮箱" id="username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" id="pw" placeholder="密码">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password2" id="pw2" placeholder="确认密码">
          </div>
        </div>        
        <div class="ui fluid large teal submit button" id="loginBtn">注册</div>
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
</div>
    <div class="ui modal"> <i class="close icon"></i>
        <div class="header">恭喜您</div>
        <div class="image content">
            <div class="description">
                <div class="ui header">用户注册成功！</div>
                <p>
                    页面将跳转到登录页
                </p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">知道了</div>
<!--             <div class="ui positive right labeled icon button">
                Yep, that's me <i class="checkmark icon"></i>
            </div> -->
        </div>
    </div>    
<script src="../../login/register.js"></script>