<link rel="stylesheet" href="../../channel/channellist.css">
        <div class="ui middle aligned center aligned">
            <div class="wrap">   
                <div class="room-item" v-for="channel in channels">
                    <a :href="channel.link" target="_blank">
                        <img :src="channel.thumb" class="thumb">
                        <div class="room-name">{{channel.name}}</div>
                        <div class="room-name">标签:{{channel.tag}} Id:{{channel.id}}</div>
                    </a>                    
                </div>                                      
                <div class="clear"></div>                               
            </div>
            <div class="page-wrap">
                <pagination :url="url" size="12" @dataloaded="pageLoaded"></pagination>
            </div>
        </div>
         <script><%- currentmsg %></script>
         <script><%- sidemsg %></script>        
<script src="../../component/page.js"></script> 
<script src="../../channel/channellist.js"></script>     
</body>
</html>