<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>节目审核列表</title>
        <link rel="stylesheet" type="text/css" href="../../lib/css/jquery.ui.min.css">
        <link rel="stylesheet" type="text/css" href="../../stylesheets/common/common.css">
        <link rel="stylesheet" type="text/css" href="../../stylesheets/programlist/prochecklist.css">
        <link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap.min.css">
    </head>
    <body>
        <div id="bodybox" class="bodybox">
            <h1 id="listtitle">节目审核列表</h1>
            <a href="./login">返回主页</a>
            <div class="check-body">
                <!--利用注释来去掉标签之间的间隙-->
                <div id="tab-wait" class="check-tab checkselect-color">待审核</div><!--
                --><div id="tab-pass" class="check-tab check-color">已通过审核</div><!--
                --><div id="tab-unpass" class="check-tab check-color">未通过审核</div>
            </div>
            <div class="search" id="search">
                <input placeholder="请输入搜索关键字" class="ipt" id="search-ipt">
                <div class="normal-btn search_div" id="search-btn">搜索</div>
            </div>
            <div class="list-title">
                <!--利用注释来去掉标签之间的间隙-->
                <!--<div class="title-icon">节目图标</div>-->
                <div class="title-name">节目名称</div><!--
                --><div class="title-anchor">主播</div><!--
                --><div class="title-brief">节目内容</div><!--
                --><div class="title-idaddr">节目ID地址</div><!--
                --><div class="title-checkstatus">状态</div><!--
                --><div class="title-recheckrequest" id="recheckrequest">重新提审</div>
            </div>
            <hr>
            <h1 id="nocheckprogram-h" style="display:none;width:100%;">当前页面没有未审核内容！</h1>
            <div id="listbodybox" class="listbodybox">
                <ul id="ulbody">
                </ul>
            </div>
            <div style="display:none;" id="refusereasonbox">
                <label style="margin-left:5px;">拒绝原因</label>
                <br>
                <select name="reasonselect" id="reasonselect" style="width:350px;margin-left:5px;color:black;">
                    <option value="色情内容">1.色情内容</option>
                    <option value="涉嫌政治">2.涉嫌政治</option>
                    <option value="版权问题">3.版权问题</option>
                    <option value="广告或者垃圾信息">4.广告或者垃圾信息</option>
                </select>
                <br><br>
                <label>其他原因</label>
                <br>
                <textarea placeholder="其他原因，手动填写" id="reasontextmsg" name="reasontextmsg" style="width:350px;color:black;" rows="3"></textarea>
                <br>
                <div class="normal-btn" id="fail_ok-btn">确定</div>
                <div class="normal-btn" id="fail_cancel-btn">取消</div>
            </div>
            <nav style="text-align:center;">
                <ul class="pagination" id ="page-body">
                </ul>
            </nav>
        </div>
        <script src="../../lib/jquery.min.js"></script>
        <script src="../../lib/jquery.ui.min.js"></script>
        <script src="../../lib/cookie.min.js"></script>
        <script src="../../javascripts/programlist/prochecklist.js"></script>
    </body>
</html>
