<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>节目列表</title>
        <link rel="stylesheet" type="text/css" href="../../stylesheets/common/common.css">
        <link rel="stylesheet" type="text/css" href="../../stylesheets/programlist/programlist.css">
        <link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap.min.css">
    </head>
    <body>
        <div id="bodybox" class="bodybox">
            <h1 id="listtitle">节目列表</h1>
            <div class="normal-btn" id="newpro-btn">新建节目</div>
            <a href="./login">返回主页</a>
            <div class="search" id="search">
                <input placeholder="请输入搜索关键字" class="ipt" id="search-ipt">
                <div class="normal-btn search_div" id="search-btn">搜索</div>
            </div>
            <div class="list-title">
                <!--利用注释来去掉标签之间的间隙-->
                <div class="title-icon">节目图标</div><!--
                --><div class="title-name">节目名称</div><!--
                --><div class="title-brief">节目简介</div><!--
                --><div class="title-classify">节目分类</div><!--
                --><div class="title-active">节目操作</div>
            </div>
            <hr>
            <div id="listbodybox" class="listbodybox">
                <ul id="ulbody">
                </ul>
            </div>
            <nav style="text-align:center;">
                <ul class="pagination" id ="page-body">
                </ul>
            </nav>
        </div>
        <script src="../../lib/jquery.min.js"></script>
        <script src="../../lib/cookie.min.js"></script>
        <script src="../../javascripts/programlist/programlist.js"></script>
    </body>
</html>
